.swiper-card {
  width: 240px;
  height: 320px;
}

@media (min-width: 640px) {
  .swiper-card {
    width: 280px;
    height: 360px;
  }
}

@media (min-width: 768px) {
  .swiper-card {
    width: 320px;
    height: 400px;
  }
}

.dark .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
}

.dark .swiper-slide {
  background: transparent
}

.dark .swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 0.9);
}
